<?xml version="1.0" encoding="windows-1250"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.bme.hu/mit/ComponentModel"
			class = "hu.bme.mit.componentModel.ComponentModelPackage"
			genModel = "model/generated/ComponentModel.genmodel" />
	</extension>
</plugin>
