/.ComponentModelDescriptionLabelProvider.java._trace
/.ComponentModelDescriptionLabelProvider.xtendbin
/.ComponentModelLabelProvider.java._trace
/.ComponentModelLabelProvider.xtendbin
/ComponentModelDescriptionLabelProvider.java
/ComponentModelLabelProvider.java
